body
{
    box-sizing: border-box;
    margin: 0px;
    background-image: url('img/marcewki.jpg');
    background-size: cover;
}

.main-header
{
    width: 100%;
    padding: 0.75vh 0;
    font-size: 4.5vh;
    background-color: orange;
    text-align: center;
    font-weight: 600;
    font-family: "Prompt", sans-serif;
}

.game-board
{
    width: 40%;
    height: 92.5vh;
    background-color: aqua;
}